.form_input
{
  margin: 0 auto;
  width: 420px;
  display: block;
}

mat-form-field
{
  width: 100%;
}

.TariffTestPeriodForm
{
  background-color: aquamarine;
}

.MatHintSelect
{
  margin-left: -10px;
}

.submit_button
{
  margin: 25px 0px 50px 0px;
}

.back_button
{

}

.block_with_button
{
  margin: 10px auto 0 auto;
  display: block;
  width: 56%;
}
