.form_input
{
  margin: 0 auto;
  width: 420px;
  display: block;
}

mat-form-field
{
  width: 100%;
}

.TariffTestPeriodForm
{
  background-color: aquamarine;
}

.MatHintSelect
{
  margin-left: -10px;
}

.submit_button
{
  margin: 25px 0px 50px 0px;
}

.back_button
{

}

.block_with_button
{
  margin: 10px auto 0 auto;
  display: block;
  width: 56%;
}

.tariff_settings
{
  margin: 0 auto;
  width: 600px;
}
.mat-expansion-panel-block
{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

mat-expansion-panel
{
  width: 100%;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  text-align: right;
  display: block;
}
.add_button
{
  margin-left: 10px;
}

mat-panel-title
{
  margin: 3px 0 0 0;
}

table {
  width: 100%;
}
