.form_input
{
  margin: 0 auto;
  width: 420px;
  display: block;
}

mat-form-field
{
  width: 100%;
}

.TariffTestPeriodForm
{
  background-color: aquamarine;
}

.MatHintSelect
{
  margin-left: -10px;
}
