<div class="block_with_button">
  <button mat-button color="primary" class="back_button" [routerLink]="'/productOption'">Назад</button>
</div>
<div class="form_input">
  <form class="adding_product_option" [formGroup]="form" (ngSubmit)="action()">
    <p align="center">
      <mat-form-field class="select-product" appearance="fill">
        <mat-label>Выберите продукт</mat-label>
        <mat-select formControlName="paymentType" formControlName="productId">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let product of products" [value]="product.id">{{product.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p align="center"> Имя:
      <mat-form-field class="form-input">
        <input matInput required="true" formControlName="name">
      </mat-form-field>
    </p>
    <p align="center"> Является множественным:
      <mat-checkbox class="form-checkbox" formControlName="isMultiple"></mat-checkbox>
    </p>
    <p align="center"> AccountingName
      <mat-form-field class="example-form-field">
        <input matInput required="true" formControlName="accountingName">
      </mat-form-field>
    </p>
    <p align="center"> NomenclatureId
      <mat-form-field class="example-form-field">
        <input matInput required="true" formControlName="nomenclatureId">
      </mat-form-field>
    </p>
    <button mat-raised-button color="primary" class="submit_button" type="submit" *ngIf="isChangeProductOption;else unset" [disabled]="form.invalid">Изменить</button>
    <ng-template #unset><button mat-raised-button color="primary" class="submit_button" type="submit" [disabled]="form.invalid">Добавить</button></ng-template>
  </form>
</div>
