<button mat-button color="primary" class="back_button" [routerLink]="'/termsOfUse'">Назад</button>
<form class="form-block" [formGroup]="form" (ngSubmit)="action()">
  <p> Общедоступный идентификатор:
    <mat-form-field class="input-public-id" appearance="legacy">
      <input matInput required="true" formControlName="publicId">
    </mat-form-field>
  </p>
  <p> Название документа:
    <mat-form-field class="input-document-name">
      <input matInput required="true" formControlName="documentName">
    </mat-form-field>
  </p>
  <button mat-raised-button color="primary" class="submit_button" type="submit" *ngIf="isChange;else unset"
          [disabled]="form.invalid">Изменить
  </button>
  <ng-template #unset>
    <button mat-raised-button color="primary" class="submit_button" type="submit" [disabled]="form.invalid">Добавить
    </button>
  </ng-template>
</form>

