.title{
  text-align: center;
}

.back_button {
  margin: 10px 0 10px 4%;
}

.form-block {
  width: 800px;
  margin: 0 auto;
}

.input-public-id{
  margin-left: 5px;
  width: 75%;
}

textarea{
  resize: none;
}

.input-document-name {
  margin-left: 5px;
  width: 81%;
}

.submit_button {
  width: 100%;
  text-align: center;
}

