<h2 mat-dialog-title>Добавить Price</h2>
<form class="add_price" [formGroup]="form">
  <div class="price" formGroupName="price">
    <p>Валюта:
      <mat-form-field class="select_currency" appearance="legacy">
        <mat-select  formControlName="currency">
          <mat-option>-</mat-option>
          <mat-option *ngFor="let currency of currencies"
                      [value]="currency.name">{{currency.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p> Стоимость:
      <mat-form-field class="input_currency_value">
        <input matInput type="number" formControlName="value">
      </mat-form-field>
    </p>
  </div>
  <div class="prolongation_period" formGroupName="period">
    <p>Период:
      <mat-form-field class="select_period" appearance="legacy">
        <mat-select formControlName="periodUnit">
          <mat-option>-</mat-option>
          <mat-option [value]="0">Month</mat-option>
          <mat-option [value]="1">QuarterOfTheYear</mat-option>
          <mat-option [value]="2">HalfYear</mat-option>
          <mat-option [value]="3">Year</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>Длительность:
      <mat-form-field class="input_period_value">
        <input matInput type="number" formControlName="value">
        <mat-error *ngIf="!form.controls['period'].hasError('pattern')">
          Только целые положительные числа
        </mat-error>
      </mat-form-field>
    </p>
  </div>
  <button mat-raised-button color="primary" class="submit_button" type="submit" [disabled]="form.invalid" (click)="close()">
    Добавить
  </button>
</form>

