<div class="block_with_button">
  <button mat-button color="primary" class="back_button" [routerLink]="'/settingsPreset'">Назад</button>
</div>
<h2 class="title" *ngIf="!isChange; else changeTitle">Создание предварительной настройки тарифа</h2>
<ng-template #changeTitle>
  <h2 class="title">Изменение предварительной настройки тарифа</h2>
</ng-template>
<div class="form_input">
  <form class="adding_product_option" [formGroup]="form">
    <p> Имя:
      <mat-form-field class="name_input" appearance="legacy">
        <input matInput formControlName="name">
      </mat-form-field>
    </p>
  </form>
</div>
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>Предварительные настройки приложения</mat-panel-title>
  </mat-expansion-panel-header>
  <button class="add_button" mat-button color="primary" (click)="openAddApplicationSettingPreset()">Добавить
  </button>
  <table mat-table [dataSource]="applicationSettingsPreset" matSort #applicationSettingTable>
    <!-- application-setting-setting Column -->
    <ng-container matColumnDef="application-setting-setting">
      <th mat-header-cell *matHeaderCellDef> Настройка</th>
      <td mat-cell *matCellDef="let element"> {{element.applicationSetting.setting.name}} </td>
    </ng-container>
    <!-- application-setting-application Column -->
    <ng-container matColumnDef="application-setting-application">
      <th mat-header-cell *matHeaderCellDef> Приложение</th>
      <td mat-cell *matCellDef="let element"> {{element.applicationSetting.application.name}} </td>
    </ng-container>
    <!-- defaultValue Column -->
    <ng-container matColumnDef="defaultValue">
      <th mat-header-cell *matHeaderCellDef> Значение по умолчанию</th>
      <td mat-cell *matCellDef="let element"> {{element.value.defaultValue}} </td>
    </ng-container>
    <!-- minValue Column -->
    <ng-container matColumnDef="minValue">
      <th mat-header-cell *matHeaderCellDef>Минимальное</th>
      <td mat-cell *matCellDef="let element"> {{element.value.minValue}} </td>
    </ng-container>
    <!-- maxValue Column -->
    <ng-container matColumnDef="maxValue">
      <th mat-header-cell *matHeaderCellDef>Максимальное</th>
      <td mat-cell *matCellDef="let element"> {{element.value.maxValue}} </td>
    </ng-container>
    <!-- isRequired Column -->
    <ng-container matColumnDef="isRequired">
      <th mat-header-cell *matHeaderCellDef> isRequired</th>
      <td mat-cell *matCellDef="let element"> {{element.isRequired}} </td>
    </ng-container>
    <!-- isRequired Column -->
    <ng-container matColumnDef="isReadOnly">
      <th mat-header-cell *matHeaderCellDef> isReadOnly</th>
      <td mat-cell *matCellDef="let element"> {{element.isReadOnly}} </td>
    </ng-container>
    <!-- isRequired Column -->
    <ng-container matColumnDef="isHidden">
      <th mat-header-cell *matHeaderCellDef> isHidden</th>
      <td mat-cell *matCellDef="let element"> {{element.isHidden}} </td>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Действие</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="primary" (click)="deleteAppSettings(element)">Удалить</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsAppSettings"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsAppSettings;"></tr>
  </table>
</mat-expansion-panel>

<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title> Предварительные настройки биллинга</mat-panel-title>
  </mat-expansion-panel-header>
  <button class="add_button" mat-button color="primary" (click)="openAddBillingSettingPreset()">Добавить</button>
  <table mat-table [dataSource]="billingSettingsPreset" #billingSettingTable>
    <!-- applicationSettingId Column -->
    <ng-container matColumnDef="billingSettingId">
      <th mat-header-cell *matHeaderCellDef>Настройка биллинга</th>
      <td mat-cell *matCellDef="let element"> {{element.billingSetting.setting.name}} </td>
    </ng-container>
    <!-- defaultValue Column -->
    <ng-container matColumnDef="defaultValue">
      <th mat-header-cell *matHeaderCellDef>по умолчанию</th>
      <td mat-cell *matCellDef="let element"> {{element.value.defaultValue}} </td>
    </ng-container>
    <!-- minValue Column -->
    <ng-container matColumnDef="minValue">
      <th mat-header-cell *matHeaderCellDef>Минимальное</th>
      <td mat-cell *matCellDef="let element"> {{element.value.minValue}} </td>
    </ng-container>
    <!-- maxValue Column -->
    <ng-container matColumnDef="maxValue">
      <th mat-header-cell *matHeaderCellDef>Максимальное</th>
      <td mat-cell *matCellDef="let element"> {{element.value.maxValue}} </td>
    </ng-container>
    <!-- isRequired Column -->
    <ng-container matColumnDef="isRequired">
      <th mat-header-cell *matHeaderCellDef> isRequired</th>
      <td mat-cell *matCellDef="let element"> {{element.isRequired}} </td>
    </ng-container>
    <!-- isRequired Column -->
    <ng-container matColumnDef="isReadOnly">
      <th mat-header-cell *matHeaderCellDef> isReadOnly</th>
      <td mat-cell *matCellDef="let element"> {{element.isReadOnly}} </td>
    </ng-container>
    <!-- isRequired Column -->
    <ng-container matColumnDef="isHidden">
      <th mat-header-cell *matHeaderCellDef> isHidden</th>
      <td mat-cell *matCellDef="let element"> {{element.isHidden}} </td>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Действие</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="primary" (click)="deleteBillingSettings(element)">Удалить</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsBillingSettings"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsBillingSettings;"></tr>
  </table>
</mat-expansion-panel>
<button mat-raised-button color="primary" class="submit_button" type="submit" *ngIf="isChange;else unset"
        [disabled]="form.invalid" (click)="action()">Изменить
</button>
<ng-template #unset>
  <button mat-raised-button color="primary" class="submit_button" type="submit" [disabled]="form.invalid" (click)="action()">Добавить
  </button>
</ng-template>
