<h2 mat-dialog-title>Добавить продукт</h2>
<form class="add_product" [formGroup]="form">
  <mat-form-field class="select-product" appearance="fill">
  <mat-label>Выберите продукт</mat-label>
    <mat-select formControlName="productId">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let product of products" [value]="product.id">{{product.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <p> Относительный вес:
    <mat-form-field class="example-form-field">
      <input matInput type="number" required="true" formControlName="relativeWeight">
      <mat-error *ngIf="!form.controls['relativeWeight'].hasError('pattern')">
        Только целые положительные числа
      </mat-error>
    </mat-form-field>
  </p>
  <button mat-raised-button color="primary" class="submit_button" type="submit" [disabled]="form.invalid" (click)="close()">Добавить</button>
</form>
