<h2 class="title">Настройки приложений</h2>
<div class="tool-bar">
  <button mat-button color="primary" class="btn-add-product" [routerLink]="['/applicationSetting/add']">Добавить
  </button>
</div>
<table mat-table [dataSource]="applicationSettings" matSort>
  <!-- application Column -->
  <ng-container matColumnDef="application">
    <th mat-header-cell *matHeaderCellDef> Приложение</th>
    <td mat-cell *matCellDef="let element"> {{element.application.name}} </td>
  </ng-container>
  <!-- Setting Column -->
  <ng-container matColumnDef="setting">
    <th mat-header-cell *matHeaderCellDef> Настройка</th>
    <td mat-cell *matCellDef="let element"> {{element.setting.name}} </td>
  </ng-container>
  <!-- Type Column -->
  <ng-container matColumnDef="defaultValue">
    <th mat-header-cell *matHeaderCellDef> Значение по умолчанию</th>
    <td mat-cell *matCellDef="let element"> {{element.defaultValue}} </td>
  </ng-container>
  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Действия</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary" [routerLink]="['/applicationSetting/change', element.id]">Изменить</button>
      <button mat-button color="primary" (click)="delete(element)">Удалить</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="pageEvent.length"
               [pageSize]="pageEvent.pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event; load()">
</mat-paginator>
