.title{
  text-align: center;
  margin: 23px 0 0 0;
}

.tool-bar{
  display: flex;
  justify-content: space-between;
  width: 97%;
  margin: 0 auto;
  align-items: baseline;
}

table {
  width: 100%;
}

.input-filter {
  width: 30%;
}
