<button mat-button color="primary" class="back_button" [routerLink]="'/contractKind'">Назад</button>
<h2 class="title" *ngIf="!isChange; else changeTitle">Создание типа договора</h2>
<ng-template #changeTitle>
  <h2 class="title">Изменение типа договора</h2>
</ng-template>
<div class="form_input">
  <form [formGroup]="form" (ngSubmit)="action()">
    <p> Публичный идентификатор:
      <mat-form-field class="public-id-input" appearance="legacy">
        <input matInput formControlName="publicId">
      </mat-form-field>
    </p>
    <p> Название:
      <mat-form-field class="name-input">
        <input matInput formControlName="name">
      </mat-form-field>
    </p>
    <button mat-raised-button color="primary" class="submit_button" type="submit" *ngIf="isChange;else unset" [disabled]="form.invalid">Изменить</button>
    <ng-template #unset><button mat-raised-button color="primary" class="submit_button" type="submit" [disabled]="form.invalid">Добавить</button></ng-template>
  </form>
</div>

