<h2>Создание предварительной настройки биллинга</h2>
<form [formGroup]="form">
  <p>Настройка биллинга:
    <mat-form-field class="billing_setting_select" appearance="legacy">
      <mat-select formControlName="billingSettingId">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let billingSetting of billingSettings"
                    [value]="billingSetting.id">{{billingSetting.setting.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button class="add_button" (click)="openAddBillingSetting()">
      <mat-icon>add</mat-icon>
    </button>
  </p>
  <div formGroupName="value">
    <p> Значение по умолчанию:
      <mat-form-field class="default_value_input">
        <input matInput formControlName="defaultValue">
      </mat-form-field>
    </p>
    <p> Минимальное значение:
      <mat-form-field class="min_value_input">
        <input matInput formControlName="minValue">
      </mat-form-field>
    </p>
    <p> Максимальное значение:
      <mat-form-field class="max_value_input">
        <input matInput formControlName="maxValue">
      </mat-form-field>
    </p>
  </div>
  <p>
    <mat-checkbox class="checkbox" formControlName="isRequired" [color]="$any('primary')">
      isRequired
    </mat-checkbox>
  </p>
  <p>
    <mat-checkbox class="checkbox" formControlName="isReadOnly" [color]="$any('primary')">
      isReadOnly
    </mat-checkbox>
  </p>
  <p>
    <mat-checkbox class="checkbox" formControlName="isHidden" [color]="$any('primary')">
      isHidden
    </mat-checkbox>
  </p>
  <button mat-raised-button color="primary" class="submit_button" type="submit" [disabled]="form.invalid"
          (click)="close()">
    Добавить
  </button>
</form>
