<div class="block_with_button">
  <button mat-button color="primary" class="back_button" [routerLink]="'/setting'">Назад</button>
</div>
<h2 class="title" *ngIf="!isChangeSetting; else changeTitle">Создание настройки</h2>
<ng-template #changeTitle>
  <h2 class="title">Изменение настройки</h2>
</ng-template>
<div class="form_input">
  <form class="adding_product_option" [formGroup]="form" (ngSubmit)="action()">
    <p> Название:
      <mat-form-field class="name-input" appearance="legacy">
        <input matInput formControlName="name">
      </mat-form-field>
    </p>
    <p> Тип настройки:
      <mat-form-field class="setting-select" appearance="legacy">
        <mat-select formControlName="type">
          <mat-option [value]="0">Unknown</mat-option>
          <mat-option [value]="1">AccumulativeInteger</mat-option>
          <mat-option [value]="2">AccumulativeBoolean</mat-option>
          <mat-option [value]="3">ExclusiveInteger</mat-option>
          <mat-option [value]="4">ExclusiveBoolean</mat-option>
          <mat-option [value]="5">AccumulativeMultiEnum</mat-option>
          <mat-option [value]="6">AccumulativeMoney</mat-option>
          <mat-option [value]="7">ExclusiveEnum</mat-option>
          <mat-option [value]="8">ExclusiveString</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p> Код:
      <mat-form-field class="code_input">
        <input matInput formControlName="code">
      </mat-form-field>
    </p>
    <p> Описание:
      <mat-form-field class="description_input">
        <input matInput formControlName="description">
      </mat-form-field>
    </p>
    <p>
      <mat-checkbox class="checkbox" formControlName="isComputing" [color]="$any('primary')">
        isComputing(Вычисляется)
      </mat-checkbox>
    </p>
    <button mat-raised-button color="primary" class="submit_button" type="submit" *ngIf="isChangeSetting;else unset" [disabled]="form.invalid">Изменить</button>
    <ng-template #unset><button mat-raised-button color="primary" class="submit_button" type="submit" [disabled]="form.invalid">Добавить</button></ng-template>
  </form>
</div>

