<div class="block_with_button">
  <button mat-button color="primary" class="back_button" [routerLink]="'/applicationSetting'">Назад</button>
</div>
<div class="form_input">
  <form class="adding_product_option" [formGroup]="form" (ngSubmit)="action()">
    <p align="center"> ApplicationId:
      <mat-form-field class="example-form-field" appearance="legacy" >
        <input matInput formControlName="applicationId" type="number">
      </mat-form-field>
    </p>
    <p align="center">
      <mat-form-field class="select-product" appearance="legacy">
        <mat-label>Setting</mat-label>
        <mat-select formControlName="paymentType" formControlName="settingId">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let setting of settings" [value]="setting.id">{{setting.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p align="center"> defaultValue
      <mat-form-field class="example-form-field">
        <input matInput formControlName="defaultValue">
      </mat-form-field>
    </p>
    <button mat-raised-button color="primary" class="submit_button" type="submit" *ngIf="isChangeApplicationSetting;else unset" [disabled]="form.invalid">Изменить</button>
    <ng-template #unset><button mat-raised-button color="primary" class="submit_button" type="submit" [disabled]="form.invalid">Добавить</button></ng-template>
  </form>
</div>
