form{
  margin: 0 auto;
  width: 420px;
}

.select-application{
  width: 77%;
  margin-left: 5px;
}

.select-setting {
  margin-left: 5px;
  width: 80%;
}

.input-default-name {
  margin-left: 5px;
  width: 58%;
}

.submit_button {
  width: 100%;
  text-align: center;
}

.back_button {
  margin: 10px 0 10px 4%;
}
