<div class="block_with_button">
  <button mat-button color="primary" class="back_button" [routerLink]="['/product']">Назад</button>
</div>
<div class="form_input">
  <form class="add_product" [formGroup]="form" (ngSubmit)="action()">
    <p align="center"> Имя продукта:
      <mat-form-field class="example-form-field">
        <input matInput required="true" formControlName="name">
      </mat-form-field>
    </p>
    <p align="center"> Номенклатурный идентификатор:
      <mat-form-field class="example-form-field">
        <input matInput required="true" formControlName="nomenclatureId">
      </mat-form-field>
    </p>
    <p align="center"> Короткое имя продукта:
      <mat-form-field class="example-form-field">
        <input matInput required="true" formControlName="shortName">
      </mat-form-field>
    </p>
    <button mat-raised-button color="primary" class="submit_button" type="submit" *ngIf="isChangeProduct;else unset" [disabled]="form.invalid">Изменить</button>
    <ng-template #unset><button mat-raised-button color="primary" class="submit_button" type="submit" [disabled]="form.invalid">Добавить</button></ng-template>
  </form>
</div>
